Checks: '-*,bugprone-*,performance-*,readability-*,clang-analyzer-*,cppcoreguidelines-*'
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: true
CheckOptions:
  - key: readability-identifier-length.IgnoredIdentifiers
    value: 'x|y|z|i|j|k|n'
