Checks: 'bugprone-*,cppcoreguidelines-*,performance-*,concurrency-*,clang-analyzer-*,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-cppcoreguidelines-owning-memory,-readability-*,-modernize-*'
HeaderFilterRegex: '^src/.*'
WarningsAsErrors: ''
