BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: None
FixNamespaceComments: true
UseTab: Never
Language: Cpp
Standard: cpp20
SortIncludes: Yes
IncludeBlocks: Preserve
AccessModifierOffset: -4
NamespaceIndentation: None
PointerAlignment: Left
ReferenceAlignment: Left
AlignAfterOpenBracket: Align
BinPackArguments: true
BinPackParameters: true
AllowShortLambdasOnASingleLine: Inline
BreakBeforeBraces: Allman
